.item {
    max-width: 100%;
    height: 30rem;
    padding: 0 2rem;

    display: grid;
    columns: 2;
    column-gap: 10rem;
    justify-content: space-between;
    padding: 0;
}

li + li {
    margin-top: 5rem;
}

.minister-role {
    margin-top: -0.8rem;
    margin-bottom: 1rem;
    font-style: italic;
}

.column-left {
    grid-column: 1;
    max-height: 30rem;
}

.column-left img {
    max-height: 100%;
    border-radius: 1rem;
}

.column-right{
    grid-column-start: 2;
    text-align: right;
}

